@charset "UTF-8";
html, body {
  color: #333;
  font-size: 16px;
  line-height: 22px;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
  min-height: 100%;
  min-width: 315px;
  background-color: #F9F8F9;
  overflow-x: hidden;
  -webkit-text-size-adjust: none; }

body {
  height: auto;
  position: relative;
  margin: 0;
  padding: 5px;
}

* {
  outline: none !important;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none; }
  *:hover, *:focus, *:active, *:link {
    outline: none !important; }

@-webkit-keyframes anim_opacity {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes anim_opacity {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

table{
    border: 1px solid;
    border-spacing: 0;
}
table td, table th{
    border: 1px solid;
    min-width: calc(100%/7);
    min-height: 32px;
    font-size: 14px;
    padding: 3px;
    text-align: center;
}
table thead{
    background-color: #f0f0f0;
}
table tr{
    height: 32px;
    min-height: 32px;
}
table tbody tr:nth-child(2n){
    /*background-color: #f0f0f0;*/
    background-color: #b9ddf9;
}
.tbody{
    counter-reset: num_position;
}
table td:first-child:before{
    counter-increment: num_position;
    content: counter(num_position);
}